/ jQuery (for Bootstrap)
script src="/vendor/jquery/jquery-2.1.3.min.js"
/ bootstrap3
script src="/vendor/bootstrap/js/bootstrap.min.js"
/ lodash.js
script src="/vendor/lodash/lodash.min.js"
/ vue.js
script src="/vendor/vue/vue.min.js"
